* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    color #333;
}

#NavBar {
    background-color: #004e71;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9vh;
}

#Texto1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 35vw;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#Logo {
    margin-top: 5px;
    display: flex;
    height: 100%;
    align-items: center;
    color: white;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#DivButton1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 
}

#Button1 {
    background-color: #e87c25;
    border-radius: none;
    cursor: pointer;
    display: flex;
    color: white;
    border-width: 0.3vh;
    border-color: white;
    border-radius: 2px;
    width: 15vw;
    margin-right: 5vw;
}

#Welcome {
    flex-direction: column; 
    align-items: center;
    padding: 40px 20px;
    text-align:justify;
    max-width: 700px;
    margin: auto;
    font-size: 10px;
    margin-left: 5vw;
}

#FotoHomem{
height: auto;
max-width: 250px;
}

#GetHigher {
    background-color: #0077f9;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#UnlockConversation {
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#GotAQuestions {
    background-color: #0077f9;
}